.sidenav-container {
    height: 100%;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .username {
    margin-left: 8px;
  }
  
  .menu a{
    font-weight: bold;
    font-size: 8pt;
  }
  
  .menu a .mat-icon{
    color: grey;
  }
  
  .search-field {
    width: 120px;
    font-size: 8pt;
    border-radius: 20px;
    margin-right: 64px;
  }
  
  .mat-toolbar-row {
    display: flex;
    align-items: center;
  }
  
  .mat-icon {
    margin-right: 8px;
  }
  
  .username {
    margin-right: 8px;
  }
  
  .sidenav-container {
    height: 100%;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .username {
    margin-left: 8px;
  }
  
  .menu a{
    font-weight: bold;
    font-size: 8pt;
  }
  
  .menu a .mat-icon{
    color: grey;
  }
  
  .search-field {
    width: 120px;
    font-size: 8pt;
    border-radius: 20px;
    margin-right: 64px;
  }
  
  .mat-toolbar-row {
    display: flex;
    align-items: center;
  }
  
  .mat-icon {
    margin-right: 8px;
  }
  
  .username {
    margin-right: 8px;
  }

  .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input, textarea, select{
    border-radius: 36ch;
    border-color: red;
    font-size: 16pt;
}

select{
    align-self: start;
    margin-left: 12px;
}

label{
    align-self: start;
    margin-left: 16px;
    margin-bottom: 8px;
}

.edit-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}
  
  
  
  