<div style="display: flex; flex-direction: row; width: 100%;">
    <div>
        <mat-icon style="margin-top: 24px;">account_circle</mat-icon>
        <span>Admin</span>
        <mat-toolbar-row class="menu-links">
            <span class="menu-links">   
              <a routerLink="/product">Productos</a>
              <a routerLink="/category">Categoria</a>
              <a routerLink="/cart">Carrito</a>
              <a routerLink="/user">Usuarios</a>
              <a routerLink="/venta">Ventas</a>
            </span>
        </mat-toolbar-row>
    </div>
</div>