<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-toolbar>
        <img src="{{'assets/images/logotecnocholloapp.PNG'}}" alt="logo de la empresa" height="50px">
      </mat-toolbar>
      <mat-nav-list class="menu">
        <a mat-list-item routerLink="/product">
          <mat-icon>shopping_cart</mat-icon>
          PRODUCTOS
        </a>
        <a mat-list-item routerLink="/category">
          <mat-icon>category</mat-icon>
          CATEGORIA
        </a>
        <a mat-list-item routerLink="/user">
          <mat-icon>account_circle</mat-icon>
          USUARIOS
        </a>
        <a mat-list-item routerLink="/venta">
          <mat-icon>monetization_on</mat-icon>
          VENTAS
        </a>
        <a mat-list-item routerLink="/profile">
          <mat-icon>account_circle</mat-icon>
          PROFILE
      </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="warn">
        <mat-toolbar-row>
          <span class="spacer"></span>
          <mat-form-field class="search-field">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder="Buscar">
          </mat-form-field>
          <span *ngIf="isLoggedIn" class="username">{{username}}</span>
          <button *ngIf="isLoggedIn" mat-icon-button (click)="logout()" routerLink="/login">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
      <router-outlet></router-outlet>
      <div class="container">
        <div class="edit-form">
          <h2 style="color: rgb(231, 81, 81);">NUEVA CATEGORÍA</h2>
          <div>
              <form (submit)="onSubmit()">
                  <div class="form-group">
                      <label>Nombre:</label>
                      <input type="text" [(ngModel)]="newCategory.nombre" name="nombre">
                  </div>
                  <div class="form-group">
                    <button mat-button type="submit" style="background-color: rgb(231, 81, 81); color: black;">
                      GUARDAR
                  </button>
                  </div>
              </form>            
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  



