<h2 class="form-title">Change Password</h2>

<form class="change-password-form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="oldPassword">Old Password:</label>
    <input type="password" id="oldPassword" formControlName="oldPassword" class="form-input">
  </div>

  <div class="form-group">
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" formControlName="newPassword" class="form-input">
  </div>

  <div class="form-group">
    <label for="verifyNewPassword">Verify New Password:</label>
    <input type="password" id="verifyNewPassword" formControlName="verifyNewPassword" class="form-input">
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="changePasswordForm.invalid" class="form-button">Guardar</button>
    <button type="button" (click)="onCancel()" class="form-button" style="background-color: red;">Cancelar</button>
  </div>
</form>
