.sidenav-container {
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.username {
  margin-left: 8px;
}

.menu a{
  font-weight: bold;
  font-size: 8pt;
}

.menu a .mat-icon{
  color: grey;
}

.contenido{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  margin-top: 8px;
}

.search-field {
  width: 120px;
  font-size: 8pt;
  border-radius: 20px;
  margin-right: 64px;
}

.mat-toolbar-row {
  display: flex;
  align-items: center;
}

.mat-icon {
  margin-right: 8px;
}

.username {
  margin-right: 8px;
}

.table-container {
  margin: 20px;
}

.mat-table {
  width: 100%;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-row:hover {
  background-color: #f5f5f5;
}

.search-form {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.search-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 4px;
  flex: 1;
}

.search-form button {
  padding: 10px 20px;
  background-color: #24a5cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #45a049;
}

.search-form input:focus {
  outline: none;
  /* border-color: #4CAF50; */
}

.add-product-button {
  /* padding: 10px 20px; */
  background-color: rgb(19, 192, 19);
  color: white;
  border: none;
  border-radius: 4px;
  margin-bottom: 12px;
  margin-right: 12px;
  cursor: pointer;
}

.add-product-button:hover {
  background-color: #17a617;
}

