<div class="container">
  <div>
    <img [src]="'http://localhost:8080/download/' + product.imagen" alt="Imagen de producto" height="300px">
  </div>
  <div class="details">
    <h1>{{product.nombre}}</h1>
    <h3>PRECIO: <span>{{product.precio}}€</span></h3>
    <p>{{product.descripcion}}</p>
    <div class="additional-info">
      <h4>Categoría: {{product.categoria}}</h4>
      <h4>Publicado por: {{product.usuario}}</h4>
      <h4>Fecha publicación: {{product.fechaPublicacion}}</h4>
      <button mat-button (click)="openEditProductDialog(product.id)" style="background-color: rgb(47, 100, 243); color: white; margin-top: 8px;">EDITAR</button> <br/>
      <button mat-button (click)="openDeleteProductDialog(product.id)" style="background-color: rgb(228, 15, 15); margin-top: 8px; color: white;">BORRAR</button>
    </div>
  </div>
</div>
